<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kish2.hermitcrabapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name_zh"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 欢迎页 -->
        <activity
            android:name=".HermitCrabSplash"
            android:launchMode="standard"
            android:theme="@style/fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主页 -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/noFullFadeInOut">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--登录页面-->
        <activity android:name=".view.impl.LoginViewImpl" />

        <activity android:name=".view.MyTest" />

        <activity android:name=".view.UpGlideTest" />
    </application>

</manifest>